.about_top_nav {
  font-size: 0.8rem;
  width: 100%;
  height: 1.5rem;
  background-color: rgb(13, 14, 13);
  color: #fff;
}
.about_top_nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.about_top_nav ul a {
  background-color: black;
  color: #fff;
}
