.navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: linear-gradient(
    180deg,
    rgba(223, 96, 96, 0.4),
    rgba(157, 172, 157, 0.5)
  );
  box-shadow: 0 1px 3px -2px black;
  font-size: 0.9rem;
  margin: 0;
  padding-top: 0.9rem;
  height: 1.8rem;
}

.active-bar {
  background-color: rgba(208, 214, 208, 0.7);
  /* background-color: rgba(105, 152, 221, 0.87); */
  box-shadow: 1px 1px 0 grey;
  top: 0;
  left: 0;
  position: fixed;
  transition: background-color 0.8s, box-shadow 0.8s;
}

.ul_top,
.ul_bottom,
.ul_middle li {
  list-style: none;
}
.ul_top,
.ul_bottom,
.ul_middle,
li a {
  text-decoration: none;
  color: #000;
}
.ul_top,
.ul_middle,
.ul_bottom {
  gap: 1rem;
  display: flex;
}

.select_item {
  width: 8rem;
  height: 1.4rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 1400px) {
  .navbar_top {
    height: 1.8rem;
  }

  .ul_top,
  .ul_bottom,
  .ul_middle,
  li a {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 1280px) {
  .ul_top,
  .ul_bottom,
  .ul_middle,
  li a {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 1024px) {
  .navbar_top {
    height: 1.8rem;
  }
  .navbar_item {
    margin-top: 0.5rem;
  }
  .ul_top,
  .ul_bottom,
  .ul_middle,
  li a {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    width: 2rem;
    height: 2rem;
    border: none;
    padding: 0;
    margin: -0.5rem 0 0.5rem 1.5rem;
  }
  .navbar-toggler span {
    top: 0;
    left: 0;
    margin: auto;
  }
  .navbar_top {
    height: 2.8rem;
  }
  .navbar_item {
    background-color: aliceblue;
  }
}
@media (max-width: 480px) {
  /* .navbar_item {
    background-color: aliceblue;
  } */
}
