.checkout-page {
  max-width: 600px;
  margin: auto;
  padding: 10rem 0 3rem 0;
}

.place_order {
  width: 100%;
  height: 400px;
  margin-top: 10rem;
  text-align: center;
  justify-content: center;
}

/* main content */

/* checkout nav start */
/* checkout nav start */

.checkout_nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: azure;
}

.checkout_nav ._img {
  width: 3rem;
}

.checkout_nav ._timg {
  width: 2rem;
}
.checkout_nav .checkout_ul img {
  width: 2rem;
}
.checkout_nav .checkout_ul {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.checkout_nav .checkout_ul li {
  list-style: none;
}
.checkout_nav .checkout_ul li a {
  text-decoration: none;
  color: #000;
}

/* checkout nav end */
/* checkout nav end */

.main_content {
  display: flex;
  margin: 10rem 2rem;
}
.main_content form {
  background-color: rgb(253, 250, 250);
}
.address_data input {
  width: 33rem;
  height: 2rem;
}
.city_address input {
  width: 10.3rem;
}
.name_details input {
  width: 16rem;
}
.email_country input,
select {
  width: 16rem;
}
.radio_form input {
  padding: 0.4rem;
}
.main_content form {
  padding: 0 5rem;
}

.change_item {
  width: 6rem;
  padding: 0.5rem;
}
.remove_icon {
  width: 1rem;
  padding: 0.6rem 0rem;
}

.change_quantity {
  border: none;
}

.checkout-form label {
  display: block;
  margin-bottom: 1rem;
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.checkout-form button {
  padding: 1rem;
  background-color: rgb(127, 246, 255);
  border-radius: 1rem;
  font-size: 1.2rem;
}

.checkout-form button:hover {
  background-color: aqua;
}
